html, body{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 40px,
        #465298 40px,
        #465298 80px
    );
    font-family: 'Glegoo', serif;
}

body{
    min-height: 100vh;
    background: rgba(0,0,0,0.15);
    font-size: 14px;
}

h1,h2{
    text-align: center;
    line-height: 1;
}

h1{
    font-size: 3em;
    margin: 0.2em 0;
    padding: 0;
}

h2{
    font-size: 1.2em;
    margin: 0 0 0.5em;
}

a{
    color: #465298;
    text-decoration: none;
    border-bottom: dotted #465298;
}

header{
    p{
        text-align: left;
    }
}

.container{
    max-width: 1200px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    min-height: 100vh;
}

.row{
    display: flex;
    flex-direction: column;
    > div{
        flex: 1;
    }
}

.column{
    display: flex;
    flex-direction: column;
    > div{
        flex: 1;
    }
}

.square{
    background-color: PaleVioletRed;
    color: white;
    padding: 10px;
    margin: 30px;
    box-shadow: 20px 20px 0px DarkOrchid;
    h3{
        margin: 0;
        // color: #465298;
        border-bottom: dotted #fff;
        font-size: 2em;
    }
    p{
        margin: 1em auto;
    }
}

.job{
    text-align: left;
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #fff;
    &:last-child{
        border-bottom: none;
    }
    ul{
        list-style: square;
        padding-inline-start: 20px;
    }
}

.small{
    font-size: 0.75em;
}

.print{
    display: none;
}

footer{
    ul{
        list-style: none;
        text-align: center;
        padding: 0;
    }
    li{
        display: inline-block;
        padding: 0 1em;
    }
}

@media screen and (min-width: 768px){
    header{
        p{
            text-align: center;
        }
    }
    .row{
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px){
    body{
        font-size: 16px;
    }
}


@media print{
    body{
        font-size: 12px;
        margin: 0;
    }
    h1{
        font-size: 1.2em;
    }
    h2{
        font-size: 1em;
    }
    .job{
        margin-top: 0;
        padding-bottom: 0;
        ul{
            margin: 0 0 5px;
        }
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .column{
        > div{
            flex: 0;
        }
    }
    .square{
        box-shadow: none;
        margin: 0;
        padding: 0;
        h3{
            font-size: 1.2em;
        }
        p{
            margin: 0;
        }
    }
    footer{
        display: none;
    }
    #three{
        order:-1;
        flex-direction: column;
        > div{
            flex: 1;
        }
    }
    .print{
        display: inline-block;
    }
}